/* Table of content  
---------------------------------------------------
01. Body
02. Typogaphy
03. Header
04. Sections
05. Inner Pages
06. Footer
07. Utilities
08. Responsive
--------------------------------------------------- */

/* 01. Body 
--------------------------------------------------- */

/* Global */

html,
body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  min-height: 100%;
}

/* Body */

body {
  margin: 0;
  padding: 0;
  color: #747474;
}

/* Links */

a,
a:hover {
  text-decoration: none;
  color: #101010;
}

a:hover,
a:hover:hover {
  color:#6abd45;
}

/* Headings */

h1,
.uk-h1,
h2,
.uk-h2,
h3,
.uk-h3,
h4,
.uk-h4,
h5,
.uk-h5 {
  color: #101010;
}

/* 02. Typography 
--------------------------------------------------- */

/* Body */

body {
  font-family: "Trade Gothic", sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -.01em;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Heading */

h1,
.uk-h1,
h2,
.uk-h2,
h3,
.uk-h3,
h4,
.uk-h4,
h5,
.uk-h5,
h6,
.uk-h6 {
  font-family: "Avant Grade", sans-serif;
  font-weight: 800;
  font-style: normal;
  letter-spacing: -.04em;
}

h1,
.uk-h1 {
  font-size: 48px;
}

h2,
.uk-h2 {
  font-size: 36px;
}

h3,
.uk-h3 {
  font-size: 30px;
}

h4,
.uk-h4 {
  font-size: 24px;
}

h5,
.uk-h5 {
  font-size: 20px;
}

h6,
.uk-h6 {
  font-size: 16px;
  text-transform: uppercase;
}

/* Hero Heading */

.uk-heading-hero {
  font-size: 50px;
}

/* Text Styles */

.pr-font-main {
  font-family: 'Trade Gothic';
}

.pr-font-second {
  font-family: 'Avant Grade';
}

.pr-text-large {
  font-size: 24px;
}

.pr-text-small {
  font-size: 14px;
}

/* Blockquote */

blockquote>p {
  font-size: 24px;
  font-family: "Avant Grade", sans-serif;
  font-weight: 800;
  font-style: normal;
  line-height: 32px;
  letter-spacing: -.02em;
  color: #101010;
}

blockquote>p:before {
  content: "\275D";
  font-weight: normal;
  margin-right: 5px;
}

blockquote>p:after {
  content: "\275E";
  font-weight: normal;
  margin-left: 5px;
}

blockquote>footer {
  margin-top: 20px;
  font-style: normal;
}

blockquote>footer:before {
  display: none;
}

/* Base */

strong,
b {
  font-weight: 800;
  color: #101010;
}

strong {
  font-family: "Avant Grade", sans-serif;
}

/* 03. Header
--------------------------------------------------- */

/* Header */

.pr__header {
  display: block;
  position: relative;
  z-index: 99;
}

.pr__header .inner {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pr__header .inner .logo {
  width: 150px;
}

.pr__header .inner .logo .brand {
  display: inline-block;
  width: 100%;
  height: 28px;
  
  background-size: cover;
  background-repeat: no-repeat;
}

.pr__header .inner .navbar {
  display: none;
}

.pr__header .inner .navbar a {
  font-size: 16px;
}

.pr__header .inner .navbar-tigger {
  width: 35px;
  height: 19px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
}

.pr__header .inner .navbar-tigger>span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
}

.pr__header .inner .navbar-tigger>*+span {
  margin-top: 5px;
}

.pr__header.uk-active {
  background-color: #FFFFFF;
}

.pr__header.uk-active .inner {
  height: 90px;
}

.pr__header.pr__dark .inner .logo .brand {
  background-position-y: -28px;
}

.pr__header.pr__dark .inner a,
.pr__header.pr__dark .inner .lang {
  color: #FFFFFF !important;
}

.pr__header.pr__dark .inner .navbar-tigger>span {
  background-color: #FFFFFF;
}

.pr__header.pr__dark.uk-active {
  background-color: rgba(0, 0, 0, 0.9);
}

/* Mobile Navbar */

.pr__mobile__nav {
  font-family: "Avant Grade", sans-serif;
  font-weight: 700;
}

.pr__mobile__nav .menu {
  padding: 60px 20px;
}

.pr__mobile__nav .menu>ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pr__mobile__nav .menu>ul>*+li {
  margin-top: 2rem;
}

.pr__mobile__nav .menu>ul>li>a {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.pr__mobile__nav .menu>ul>li>a:hover {
  color:#6abd45;
}

.pr__mobile__nav .menu>ul>li.uk-active>a {
  color:#6abd45;
}

/* 04. Sections
--------------------------------------------------- */

/* Section: Global */

.pr__section {
  position: relative;
  background-color: #FFFFFF;
}

.pr__section .section-heading {
  margin-bottom: 60px;
}

.pr__section .section-heading .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pr__section .section-heading .inner .line {
  margin: 0;
  border-top-width: 3px;
}

.pr__section .section-heading .inner .title {
  margin: 20px 0px 0;
}

.pr__section .section-heading .inner .subtitle {
  margin: 0;
  line-height: 1;
}

.pr__section .section-heading.pr__center .inner {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.pr__section .section-heading.pr__center .inner .line {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.pr__section.section-slider .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
}

.pr__section.section-slider .owl-dots.disabled {
  display: none;
  margin: 0;
}

.pr__section.section-slider .owl-dots>* {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: transparent;
  padding: 0;
  border: 1px solid #E0E0E0;
  outline: 0;
  border-radius: 50%;
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  cursor: pointer;
}

.pr__section.section-slider .owl-dots>*+* {
  margin-left: 1rem;
}

.pr__section.section-slider .owl-dots>*.active {
  background-color:#6abd45 !important;
  border-color:#6abd45 !important;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.pr__section.pr__dark {
  background-color: #101010;
  color: #ACACAC;
}

.pr__section.pr__dark.section-slider .owl-dots>* {
  border-color: rgba(255, 255, 255, 0.2);
}

.pr__section.pr__dark .section-heading .button,
.pr__section.pr__dark .title {
  color: #FFFFFF !important;
}

.pr__section.pr__dark .item.service-box>.inner {
  background-color: #1b1b1b;
}

.pr__section.pr__dark .item.client-box>.outer>.inner .client {
  color: #FFFFFF;
}

.pr__section.pr__dark .item.client-box>.outer>.inner .client:before {
  border-color: rgba(255, 255, 255, 0.2);
}

/* Section: Hero */

.pr__hero__wrap {
  position: relative;
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-size: 640px;
  background-position: left;
  display: block;
  z-index: 99;
}

.pr__hero__wrap.pr__dark {
  background-color: #000;
}

.pr__hero__wrap.pr__dark .title,
.pr__hero__wrap.pr__dark .page-title,
.pr__hero__wrap.pr__dark .button,
.pr__hero__wrap.pr__dark .description,
.pr__hero__wrap.pr__dark .uk-breadcrumb> :last-child>* {
  color: #FFFFFF !important;
}

.pr__hero__wrap.pr__dark .uk-breadcrumb> :nth-child(n+2):not(.uk-first-column)::before {
  color: #FFFFFF;
  opacity: .5;
}

.pr__hero__wrap.pr__dark .item.feature-box .inner {
  background-color: #1b1b1b;
}

body.page-template .pr__hero__wrap {
  background-color: #101010;
  background-position: center;
  background-size: cover !important;
  background-position: center !important;
}

body.page-template .pr__hero__wrap:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

body.page-template .pr__hero__wrap>* {
  position: relative;
  z-index: 99;
}

body.page-template .pr__hero__wrap .pr__header .inner .logo .brand {
  background-position-y: -28px;
}

body.page-template .pr__hero__wrap .pr__header .inner a,
body.page-template .pr__hero__wrap .pr__header .inner .lang {
  color: #FFFFFF !important;
}

body.page-template .pr__hero__wrap .pr__header .inner .navbar-tigger>span {
  background-color: #FFFFFF;
}

body.page-template .pr__hero__wrap .pr__header.uk-active {
  background-color: rgba(0, 0, 0, 0.9);
}

body.single-post .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

body.single-post .hero-content .category {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  opacity: .7;
}

/* Section: Features Boxes */

.item.feature-box {
  position: relative;
}

.item.feature-box>.inner {
  position: relative;
  background-color: #FFFFFF;
  padding: 40px;
  -webkit-box-shadow: 0 1px 30px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 30px 1px rgba(0, 0, 0, 0.1);
}

.item.feature-box>.inner .icon {
  color:#6abd45;
}

.item.feature-box>.inner .title {
  font-size: 1.2rem;
  margin: 30px 0 5px 0;
}

.item.feature-box>.inner .line {
  margin-top: 0;
}

.item.feature-box>.inner .description {
  margin: 0;
}

.item.feature-box:hover>.inner,
.item.feature-box.uk-active>.inner {
  background-color:#6abd45 !important;
  -webkit-box-shadow: 0 10px 50px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 50px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.item.feature-box:hover>.inner .icon,
.item.feature-box:hover>.inner .title,
.item.feature-box:hover>.inner .description,
.item.feature-box.uk-active>.inner .icon,
.item.feature-box.uk-active>.inner .title,
.item.feature-box.uk-active>.inner .description {
  color: #FFFFFF;
}

.item.feature-box:hover>.inner .line,
.item.feature-box.uk-active>.inner .line {
  border-color: #FFFFFF !important;
}

/* Section: Services Boxes */

.item.service-box {
  position: relative;
}

.item.service-box>.inner {
  position: relative;
  background-color: #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 40px 30px;
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  overflow: hidden;
}

.item.service-box>.inner .overlay-icon {
  position: absolute;
  top: 0;
  left: -25px;
  bottom: 0;
  width: 72px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 72px;
  margin-top: -6px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: block;
  opacity: 0;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.item.service-box>.inner .icon:not(.overlay-icon) {
  font-size: 24px;
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.item.service-box>.inner .title {
  line-height: 20px;
  margin: 0;
}

.item.service-box:hover>.inner,
.item.service-box.uk-active>.inner {
  background-color:#6abd45 !important;
  padding-left: 70px;
}

.item.service-box:hover>.inner .overlay-icon,
.item.service-box.uk-active>.inner .overlay-icon {
  opacity: .3;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.item.service-box:hover>.inner .icon:not(.overlay-icon),
.item.service-box.uk-active>.inner .icon:not(.overlay-icon) {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

.item.service-box:hover>.inner .overlay-icon,
.item.service-box:hover>.inner .icon,
.item.service-box:hover>.inner .title,
.item.service-box.uk-active>.inner .overlay-icon,
.item.service-box.uk-active>.inner .icon,
.item.service-box.uk-active>.inner .title {
  color: #FFFFFF;
}

/* Section: Works Boxes */

.item.work-box {
  position: relative;
  background-color: #101010;
  overflow: hidden;
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.item.work-box>.outer>.image {
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.item.work-box>.outer>.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: 1;
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.item.work-box>.outer>.inner .title {
  margin: 0;
  color: #fff;
}

.item.work-box>.outer>.inner .category {
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
}

.item.work-box>.outer>.inner>* {
  opacity: 0;
  -webkit-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.item.work-box:hover {
  -webkit-box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.item.work-box:hover>.outer>.image {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.item.work-box:hover>.outer>.inner {
  background-color: rgba(0, 0, 0, 0.7);
}

.item.work-box:hover>.outer>.inner>* {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/* Section: Gallery Boxes */

.item.gallery-box {
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.item.gallery-box>.outer {
  background-color: #101010;
  position: relative;
  overflow: hidden;
}

.item.gallery-box>.outer>.image {
  padding-top: 285px !important;
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.item.gallery-box>.outer>.inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 30px;
}

.item.gallery-box>.outer>.inner .title {
  margin: 0;
  color: #fff;
}

.item.gallery-box>.outer>.inner .description {
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
}

.item.gallery-box.big>.outer>.image {
  padding-top: 600px !important;
}

*+.item.gallery-box.small {
  margin-top: 30px;
}

.item.gallery-box:hover .image {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

/* Section: About Boxes */

.item.about-box>.outer>.inner .description {
  padding-right: 40px;
  margin: 0;
}

/* Section: Clients */

.item.client-box {
  position: relative;
}

.item.client-box>.outer>.inner .description {
  position: relative;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #747474;
}

.item.client-box>.outer>.inner .description:before {
  content: '\275D';
  font-size: 20rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: .1;
}

.item.client-box>.outer>.inner .client {
  font-weight: 700;
  text-transform: uppercase;
  color: #101010;
  margin-top: 40px;
}

.item.client-box>.outer>.inner .client:before {
  content: "";
  height: 1px;
  width: 30px;
  border-top: 2px solid #F3F3F3;
  display: block;
  margin-bottom: 20px;
}

/* 05. Inner Pages
--------------------------------------------------- */

.blog-listing.style-one .post.type-post>.outer>.featured-image .image {
  padding-top: 100%;
}

.blog-listing.style-one .post.type-post>.outer>.inner {
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  background: transparent;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 80%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(80%, rgba(0, 0, 0, 0.5)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 80%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 80%);
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 80%);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, rgba(0, 0, 0, 0.5)));
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 80%);
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.blog-listing.style-one .post.type-post>.outer>.inner .title a,
.blog-listing.style-one .post.type-post>.outer>.inner .category,
.blog-listing.style-one .post.type-post>.outer>.inner .more.icon {
  color: #FFFFFF;
}

.blog-listing.style-one .post.type-post>.outer>.inner .category {
  opacity: .7;
}

.blog-listing.style-one .post.type-post>.outer>.inner .more.icon {
  opacity: 0;
}

.blog-listing.style-one .post.type-post>.outer>.inner .link {
  padding-top: 100%;
}

.blog-listing.style-one .post.type-post>.outer>.inner>* {
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transform: translateY(40px);
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.blog-listing.style-one .post.type-post:hover {
  -webkit-box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.2);
}

.blog-listing.style-one .post.type-post:hover>.outer>.inner {
  background-color: rgba(0, 0, 0, 0.7);
}

.blog-listing.style-one .post.type-post:hover>.outer>.inner>* {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1 !important;
}

.blog-listing.style-two .post.type-post>.outer>.featured-image .image {
  padding-top: 100%;
}

.blog-listing.style-two .post.type-post>.outer>.inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
  padding: 40px;
  background-color: #FFFFFF;
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.blog-listing.style-two .post.type-post>.outer>.inner .category {
  margin: 0;
  color:#6abd45;
}

.blog-listing.style-two .post.type-post>.outer>.inner .more.icon {
  opacity: 0;
}

.blog-listing.style-two .post.type-post>.outer>.inner .link {
  padding-top: 100%;
}

.blog-listing.style-two .post.type-post:hover,
.blog-listing.style-two .post.type-post.active {
  -webkit-box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.2);
}

.blog-listing.style-two .post.type-post:hover>.outer>.inner,
.blog-listing.style-two .post.type-post.active>.outer>.inner {
  background-color: rgba(0, 0, 0, 0.75);
}

.blog-listing.style-two .post.type-post:hover>.outer>.inner .title a,
.blog-listing.style-two .post.type-post:hover>.outer>.inner .category,
.blog-listing.style-two .post.type-post:hover>.outer>.inner .description,
.blog-listing.style-two .post.type-post:hover>.outer>.inner .more.icon,
.blog-listing.style-two .post.type-post.active>.outer>.inner .title a,
.blog-listing.style-two .post.type-post.active>.outer>.inner .category,
.blog-listing.style-two .post.type-post.active>.outer>.inner .description,
.blog-listing.style-two .post.type-post.active>.outer>.inner .more.icon {
  color: #FFFFFF;
}

.blog-listing.style-two *+.owl-item .post.type-post>.outer>.inner {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-listing.style-three .owl-dots {
  margin-top: 60px;
}

.blog-listing.chess-layout .post.post.type-post .outer .featured-image:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 18px solid #ffffff;
}

.blog-listing.chess-layout .post.post.type-post .outer .inner {
  min-height: 319.86px;
}

.blog-listing.chess-layout .post.post.type-post .outer .inner .category {
  color:#6abd45;
}

.blog-listing.chess-layout .post.post.type-post:hover {
  opacity: 1;
}

.blog-listing.chess-layout .item:nth-child(5n+5) .post.type-post .outer,
.blog-listing.chess-layout .item:nth-child(2) .post.type-post .outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.blog-listing.chess-layout .item:nth-child(5n+5) .post.type-post .outer .inner .category,
.blog-listing.chess-layout .item:nth-child(2) .post.type-post .outer .inner .category {
  margin: 0;
}

.post .pr__entry__sidebar>div>*+div {
  margin-top: 60px;
}

.post .pr__entry__sidebar .title {
  font-family: "Trade Gothic", sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  position: relative;
  margin-bottom: 60px;
  color:#6abd45;
}

.post .pr__entry__sidebar .title:after {
  content: "";
  position: absolute;
  width: 30px;
  border-bottom: 2px solid#6abd45;
  margin-top: 10px;
  display: block;
}

.post .pr__entry__meta.pr__vr {
  font-size: 1rem;
}

.post .pr__entry__meta.pr__vr strong {
  font-family: "Trade Gothic", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  display: block;
}

.post .pr__entry__meta.pr__vr a {
  color: #747474;
}

.post .pr__entry__meta.pr__vr a:hover {
  color:#6abd45;
}

.post .pr__entry__share>a {
  font-size: 32px;
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.post .pr__entry__share.pr__small>a {
  font-size: 24px;
}

.post .pr__entry__footer {
  margin-top: 40px;
}

.post.type-post {
  position: relative;
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.post.type-post>.outer>.featured-image {
  overflow: hidden;
}

.post.type-post>.outer>.featured-image .image {
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.post.type-post>.outer>.featured-image .link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.post.type-post>.outer>.inner .title {
  margin: 20px 0 0;
}

.post.type-post>.outer>.inner .title a {
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.post.type-post>.outer>.inner .category {
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ACACAC;
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.post.type-post>.outer>.inner .category:hover {
  color: #101010;
}

.post.type-post>.outer>.inner .description {
  padding: 0;
  margin: 20px 0 0;
}

.post.type-post>.outer>.inner .meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 0;
  padding: 0;
  list-style: none;
}

.post.type-post>.outer>.inner .meta>li {
  font-size: 13px;
  color: #ACACAC;
}

.post.type-post>.outer>.inner .meta>li a {
  color: #ACACAC;
}

.post.type-post>.outer>.inner .meta>*+li:before {
  content: '\2013';
  margin: 0 .5rem;
  opacity: .5;
}

.post.type-post>.outer>.inner .more.icon {
  display: inline-block;
  margin-top: 20px;
  font-size: 24px;
  color:#6abd45;
}

.post.type-post>.outer>.inner .more:not(.icon) {
  color:#6abd45;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: -.02em;
  border-bottom: 1px solid #E0E0E0;
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.post.type-post>.outer>.inner .more:not(.icon):hover {
  border-color:#6abd45;
}

.post.type-post>.outer>.inner .link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 66.6666667%;
}

.post.type-post:hover>.outer>.featured-image .image {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.post.type-post .pr__entry__meta.pr__vr strong {
  font-size: 1rem;
  color:#6abd45;
}

.post.type-post.single-post .entry-body {
  padding: 0 60px;
}

.post.type-post.single-post .entry-body .wp-caption {
  display: block;
  margin: 60px 0;
  width: calc(100% + 120px);
  margin-left: -60px;
  margin-right: -60px;
}

.post.type-post.single-post .entry-body .wp-caption .wp-caption-text {
  font-size: 16px;
  padding-top: 10px;
  text-align: center;
  font-style: italic;
}

.page.type-page .outer .inner .entry-body {
  font-size: 1.2rem;
  line-height: 1.612;
  color: #101010;
}

.page.type-page .outer .inner .entry-body *+address,
.page.type-page .outer .inner .entry-body *+dl,
.page.type-page .outer .inner .entry-body *+fieldset,
.page.type-page .outer .inner .entry-body *+figure,
.page.type-page .outer .inner .entry-body *+ol,
.page.type-page .outer .inner .entry-body *+p,
.page.type-page .outer .inner .entry-body *+pre,
.page.type-page .outer .inner .entry-body *+ul,
.page.type-page .outer .inner .entry-body *+blockquote {
  margin-top: 40px;
}

.widget {
  position: relative;
  display: block;
  /* Widget: Global */
  /* Widget: Search */
  /* Widget: Nav Menu */
  /* Widget: Recent Posts */
  /* Widget: Tag Cloud */
}

.widget>.widget-title {
  font-family: "Trade Gothic", sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  position: relative;
  margin-bottom: 60px;
  color:#6abd45;
}

.widget>.widget-title:after {
  content: "";
  position: absolute;
  width: 30px;
  border-bottom: 2px solid#6abd45;
  margin-top: 10px;
  display: block;
}

.widget.widget_nav_menu ul,
.widget.widget_recent_entries ul,
.widget.widget_recent_comments ul,
.widget.widget_categories ul,
.widget.widget_archive ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.widget.widget_nav_menu ul *+li,
.widget.widget_recent_entries ul *+li,
.widget.widget_recent_comments ul *+li,
.widget.widget_categories ul *+li,
.widget.widget_archive ul *+li {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #F3F3F3;
}

.widget.widget_search .search-field {
  font-size: 1rem;
  height: 50px;
  margin-bottom: 10px;
}

.widget.widget_search .search-submit {
  width: 100%;
}

.widget.widget_nav_menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: 400ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 400ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 400ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.widget.widget_nav_menu ul li a:before {
  content: "\e91f";
  width: 20px;
  font-family: 'Pixeicons', sans-serif;
  font-size: 14px;
  opacity: 0;
  -webkit-transition: 400ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 400ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 400ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.widget.widget_nav_menu ul li.current a,
.widget.widget_nav_menu ul li a:hover {
  color:#6abd45;
  padding-left: 20px;
}

.widget.widget_nav_menu ul li.current a:before,
.widget.widget_nav_menu ul li a:hover:before {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  color:#6abd45;
}

.widget.widget_recent_entries ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.widget.widget_recent_entries ul li a {
  line-height: 1.2;
}

.widget.widget_recent_entries ul li .post-date {
  font-size: 13px;
  margin-top: 5px;
}

.widget.widget_tag_cloud a {
  display: inline-block;
  font-size: 14px;
  background-color: #F3F3F3;
  padding: 5px 10px;
  margin-bottom: 5px;
}

*+.widget {
  margin-top: 60px;
}

/* 06. Footer
--------------------------------------------------- */

.pr__footer {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: #1b1b1b;
  color: #747474;
}

.pr__footer a,
.pr__footer .title {
  color: #FFFFFF;
}

.pr__footer .button {
  color: #FFFFFF !important;
}

.pr__footer .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pr__footer .pr__footer__top .pr__social>.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pr__footer .pr__footer__top .pr__social>.inner a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  font-size: 24px;
  margin: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid#6abd45;
  border-radius: 50%;
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.pr__footer .pr__footer__top .pr__social>.inner a:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  color:#6abd45;
}

.pr__footer .pr__footer__top .pr__social>.inner *+a {
  margin-left: .5rem;
}

.pr__footer .pr__footer__top .pr__cta .title {
  position: relative;
  margin: 0;
  line-height: 1;
  top: 6px;
}

.pr__footer .pr__footer__top .pr__cta .button {
  text-transform: initial;
}

.pr__footer .pr__footer__center {
  background: #161616;
}

.pr__footer .pr__footer__center ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pr__footer .pr__footer__center ul>li {
  margin: 0 30px;
  text-align: center;
}

.pr__footer .pr__footer__center ul>li>a {
  font-family: "Avant Grade", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.pr__footer .pr__footer__center ul>li>a>span {
  font-family: "Trade Gothic", sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.pr__footer .pr__footer__bottom {
  background-color: #000;
  position: relative;
  padding: 0;
}

.pr__footer .pr__footer__bottom .section-inner {
  padding: 30px 0;
}

.pr__footer .pr__footer__bottom .section-inner .pr__copyrights p {
  font-size: 14px;
  margin: 0;
}

.pr__footer .pr__footer__bottom .section-inner .pr__links a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.pr__footer .pr__footer__bottom .section-inner .pr__links a:after {
  content: "";
  height: 1px;
  width: 0;
  border-top: 1px solid#6abd45;
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.pr__footer .pr__footer__bottom .section-inner .pr__links a:hover:after {
  width: 100%;
}

.pr__footer .pr__footer__bottom .section-inner .pr__links *+a {
  margin-left: 1rem;
}

.pr__footer.pr__dark {
  background-color: #000;
  color: #747474;
}

.pr__footer.pr__dark a,
.pr__footer.pr__dark .title {
  color: #FFFFFF;
}

.pr__footer.pr__dark .button {
  color: #FFFFFF !important;
}

.pr__footer.pr__dark .pr__footer__bottom .section-inner {
  border-color: rgba(255, 255, 255, 0.1);
}

.pr__contact__form .form-outer {
  padding-top: 60px;
}

.pr__contact__form .form-outer h2 {
  margin-bottom: 0px;
}

.pr__contact__form .form-outer p {
  margin-top: 5px;
}

.pr__contact__form.pr__dark .uk-modal-dialog {
  background-color: #101010;
}

.pr__contact__form.pr__dark .form-outer h2 {
  color: #FFFFFF;
}

.pr__contact__form.pr__dark .form-outer .pr__form label {
  color: #FFFFFF;
}

.pr__contact__form.pr__dark .form-outer .pr__form input,
.pr__contact__form.pr__dark .form-outer .pr__form select,
.pr__contact__form.pr__dark .form-outer .pr__form textarea {
  border-color: #FFFFFF;
}

/* 07. Utilities
--------------------------------------------------- */

/* Containers */

.uk-container-no {
  max-width: 100%;
  padding: 0;
}

/* Buttons */

.uk-button {
  font-family: "Avant Grade", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1 !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: .9rem;
  height: 50px;
  padding-top: 4px;
  border-width: 2px;
}

.uk-button-small {
  font-size: .8rem;
  height: 40px;
}

.uk-button-large {
  font-size: 1rem;
  height: 60px;
}

.uk-button-primary {
  background-color:#6abd45;
  border-color:#6abd45;
  color: #FFFFFF !important;
}

.uk-button-primary:hover {
  background-color: #36A345;
  border-color: #36A345;
}

.uk-button-primary:focus {
  background-color:#36A345;
  border-color: #36A345;
}

.uk-button-secondary {
  background-color: #101010;
  border-color: #101010;
  color: #FFFFFF !important;
}

.uk-button-secondary:hover {
  background-color: #010101;
  border-color: #010101;
}

.uk-button-secondary:focus {
  background-color: black;
  border-color: black;
}

.uk-button-default {
  border-color:#6abd45 !important;
  color: #101010 !important;
  position: relative;
  z-index: 1;
}

.uk-button-default:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:#6abd45;
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.uk-button-default:hover,
.uk-button-default:focus {
  border-color:#6abd45;
  color: #fff !important;
}

.uk-button-default:hover:after,
.uk-button-default:focus:after {
  width: 100%;
}

/* Breadcrumbs */

.uk-breadcrumb>li>a,
.uk-breadcrumb>li>span {
  font-size: 1rem;
  color:#6abd45;
  font-weight: 700;
  text-transform: uppercase;
}

/* Headings */

.pr__heading__secondary {
  font-family: "Trade Gothic", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color:#6abd45;
}

/* Sections  Backgrounds */

.uk-section-muted {
  background-color: #F3F3F3;
}

.uk-section-primary {
  background-color:#6abd45;
}

.uk-section-secondary {
  background-color: #101010;
  color: #FFFFFF;
}

/* Horizontal rule */

.pr__hr__primary {
  width: 70px;
  border-top: 3px solid#6abd45 !important;
}

.pr__hr__secondary {
  width: 40px;
  border-top: 2px solid#6abd45 !important;
}

.pr__hr__section {
  margin: 0;
  border-color: rgba(0, 0, 0, 0.08);
}

.pr__dark .pr__hr__section {
  border-color: rgba(255, 255, 255, 0.08);
}

.pr__vr__section {
  position: relative;
  margin: -30px auto;
  border: 0;
  border-left: 2px solid;
  border-color:#6abd45;
  width: 2px;
  height: 60px;
  z-index: 10;
}

/* Off Canvas Bar */

.uk-offcanvas-bar {
  width: 100vw;
  background-color: #000;
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.uk-offcanvas-overlay::before {
  background: rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes uk-fade-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes uk-fade-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* Description List */

.uk-description-list>dt {
  font-size: 1.1rem;
  font-weight: 700;
  color:#6abd45;
  margin-bottom: 5px;
}

/* Uikit: Accordions */

.uk-accordion {
  margin: 40px 0;
}

.uk-accordion>li .uk-accordion-title {
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid #F3F3F3;
  padding-bottom: 10px;
}

.uk-accordion>li .uk-accordion-content {
  margin: 0;
  padding: 30px;
  background-color: #F3F3F3;
}

.uk-accordion>li.uk-open .uk-accordion-title {
  color:#6abd45;
}

/* Images */

.pr__image__cover {
  background-color: #F3F3F3;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-top: 66.6666667%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.pr__image__cover.pr__ratio__square {
  padding-top: 100%;
}

.pr__image__cover.pr__ratio__portrait {
  padding-top: calc(150% - 36px);
}

.pr__image__cover.pr__ratio__landscape {
  padding-top: 56.25%;
}

.pr__dark .pr__image__cover {
  background-color: #000;
}

img[data-src][src*='data:image'] {
  background: #F3F3F3;
}

/* Overlay Gradient */

.pr__grd__overlay .item .inner>*:not(.link) {
  position: relative;
  z-index: 1;
}

.pr__grd__overlay .item .inner:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 80%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(80%, rgba(0, 0, 0, 0.5)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 80%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 80%);
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 80%);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, rgba(0, 0, 0, 0.5)));
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 80%);
  z-index: 0;
}

/* Gallery */

*+.pr__gallery {
  margin-top: 60px;
}

.pr__gallery .pr__gallery__item .featured-image {
  position: relative;
}

.pr__gallery .pr__gallery__item .featured-image .image {
  -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.pr__gallery .pr__gallery__item .featured-image .link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.pr__gallery .pr__gallery__item:hover .featured-image .image {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

/* Icons Sizes */

.pr__icon__medium {
  font-size: 32px;
}

.pr__icon__large {
  font-size: 48px;
}

.pr__icon__xlarge {
  font-size: 64px;
}

/* Modals */

.uk-modal-close-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px 0 0;
  padding: 0;
  background-color: transparent;
}

.uk-modal-close-full span {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color:#6abd45;
  margin-right: .5rem;
}

/* Forms */

.pr__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 60px;
}

.pr__form *+.pr__form__group {
  margin-top: 40px;
}

.pr__form label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #101010;
}

.pr__form label .required {
  color:#6abd45;
}

.pr__form input,
.pr__form .uk-select:not([multiple]):not([size]) {
  width: calc(100% - 40px);
  line-height: 52px;
  height: 52px;
  padding: 0 20px;
  color: #747474;
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  outline: 0;
}

.pr__form input:hover,
.pr__form .uk-select:not([multiple]):not([size]):hover {
  border-color: #ACACAC;
}

.pr__form input:focus,
.pr__form .uk-select:not([multiple]):not([size]):focus {
  border-color:#6abd45;
}

.pr__form .uk-select:not([multiple]):not([size]) {
  width: 100% !important;
}

.pr__form textarea {
  width: calc(100% - 40px);
  min-height: 200px;
  color: #747474;
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  line-height: 1.612 !important;
  padding: 20px;
  resize: none;
  overflow: auto;
  outline: 0;
}

.pr__form textarea:hover {
  border-color: #ACACAC;
}

.pr__form textarea:focus {
  border-color:#6abd45;
}

/* Preloader */

body #loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #FFFFFF;
  z-index: 99999;
}

body #loader .loading {
  font-weight: 800;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #ACACAC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body #loader .loading .txt {
  opacity: 0;
}

body #loader .loading .progress {
  opacity: 0;
  height: 4px;
  width: 200px;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  position: relative;
}

body #loader .loading .progress .bar-loading {
  content: "";
  height: 4px;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#6abd45;
}

body #loader.pr__dark {
  background: #101010;
}

body #loader.pr__dark .progress {
  background: rgba(255, 255, 255, 0.2);
}

body #site-wrapper {
  position: relative;
  top: 100px;
}

@-webkit-keyframes scaleTop {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@keyframes scaleTop {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

[data-aos="reveal"]>* {
  display: block;
  width: 100%;
  height: 50px;
  -webkit-animation-name: slideTop;
  animation-name: slideTop;
  -webkit-transition: 1000ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 1000ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 1000ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: relative;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
}

[data-aos="reveal"]>*:before {
  content: "";
  display: block;
  position: absolute;
  height: 50px;
  width: 100%;
  top: 0;
  bottom: 0;
  background: #101010;
  z-index: 1;
  -webkit-transition: 1000ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -o-transition: 1000ms cubic-bezier(0.17, 0.67, 0, 1.01);
  transition: 1000ms cubic-bezier(0.17, 0.67, 0, 1.01);
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

[data-aos="reveal"].aos-animate>* {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

[data-aos="reveal"].aos-animate>*:before {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* Other */

.uk-svg,
.uk-svg:not(.uk-preserve) [fill*='#']:not(.uk-preserve) {
  fill: #000;
}

.pr__dark .uk-svg,
.pr__dark .uk-svg:not(.uk-preserve) [fill*='#']:not(.uk-preserve) {
  fill: #FFFFFF;
}

.screen-reader-text {
  display: none;
}

/* 08. Responsive
--------------------------------------------------- */

@media (min-width: 640px) {

  /* Mobile Navbar */
  .pr__mobile__nav .menu {
    padding: 60px;
  }

  .pr__mobile__nav .menu>ul>li>a {
    font-size: 1.5rem;
  }

  /* Section: Hero */
  .pr__hero__wrap {
    background-position: right;
  }
}

@media (min-width: 960px) {

  /* Header */
  .pr__header {
    height: 170px;
    display: block;
  }

  .pr__header .inner {
    height: 170px;
  }

  .pr__header .inner .logo {
    width: 170px;
  }

  .pr__header .inner .logo .brand {
    height: 32px;
  }

  .pr__header .inner .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    letter-spacing: -.02em;
    line-height: 1;
  }

  .pr__header .inner .navbar>*+* {
    margin-left: 40px;
  }

  .pr__header .inner .navbar .menu {
    display: block;
    position: relative;
  }

  .pr__header .inner .navbar .menu>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .pr__header .inner .navbar .menu>ul>*+li {
    margin-left: 2.4rem;
  }

  .pr__header .inner .navbar .menu>ul>li {
    position: relative;
  }

  .pr__header .inner .navbar .menu>ul>li a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 1px;
    border-bottom: 2px solid;
    display: inline-block;
    -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
    -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
    transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  }

  .pr__header .inner .navbar .menu>ul>li:hover a,
  .pr__header .inner .navbar .menu>ul>li.uk-active a {
    color:#6abd45;
  }

  .pr__header .inner .navbar .menu>ul>li:hover a:after,
  .pr__header .inner .navbar .menu>ul>li.uk-active a:after {
    width: 20px;
    color:#6abd45;
  }

  .pr__header .inner .navbar .lang {
    min-width: 40px;
    text-align: right;
    color: #101010;
  }

  .pr__header .inner .navbar .lang:hover {
    color:#6abd45;
  }

  .pr__header .inner .navbar .lang i {
    font-size: 10px;
    position: relative;
    top: -2px;
  }

  .pr__header .inner .navbar-tigger {
    display: none;
  }

  .pr__header.uk-active {
    background-color: #FFFFFF;
    height: 100px;
  }

  .pr__header.uk-active .inner {
    height: 100px;
  }

  .pr__header.pr__dark .inner .logo .brand {
    background-position-y: -32px;
  }

  body.page-template .pr__hero__wrap .pr__header .inner .logo .brand {
    background-position-y: -32px;
  }

  /* Section: Features Boxes */
  .item.feature-box>.inner {
    z-index: 1;
  }

  .item.feature-box:last-child:before {
    content: "";
    background-color:#6abd45;
    height: 70px;
    width: calc(100% - 10px);
    position: absolute;
    bottom: -20px;
    z-index: 0;
  }

  /* Section: Client Box */
  .item.client-box.client-image .image {
    position: relative;
    z-index: 1;
  }

  .item.client-box.client-image:before {
    content: "";
    background-color:#6abd45;
    height: 100px;
    width: 100px;
    position: absolute;
    right: -20px;
    bottom: -20px;
    z-index: 0;
  }

  /* Blog Listing */
  .blog-listing.chess-layout:hover .post.type-post {
    opacity: .4;
  }

  .blog-listing.chess-layout .item:nth-child(5n+5) .post.type-post .outer .featured-image:after,
  .blog-listing.chess-layout .item:nth-child(2) .post.type-post .outer .featured-image:after {
    top: 0;
    bottom: auto;
    border-top: 18px solid #ffffff;
    border-bottom: 0 solid transparent;
  }

  .blog-listing.chess-layout .item:nth-child(5n+5) .post.type-post .outer .inner,
  .blog-listing.chess-layout .item:nth-child(2) .post.type-post .outer .inner {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  /* Footer */
  .pr__footer .columns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .pr__footer .columns .pr__social,
  .pr__footer .columns .pr__copyrights {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  /* Utitlites */
  .uk-heading-hero {
    font-size: 80px;
  }
}

@media (min-width: 1200px) {

  /* Section: Hero */
  .pr__hero__wrap {
    background-position: 70%;
  }

  /* Section: Features Boxes */
  .features-boxes>.item>.inner {
    padding: 60px 40px;
  }

  .features-boxes>.item>.inner .title {
    font-size: 24px;
    margin: 60px 0 5px 0;
  }
}