/* Trade Gothic */
@font-face {
    font-family: 'Trade Gothic';
    src: url('../fonts/Trade_Gothic/tradegothic-light.woff2') format('woff2'),
        url('../fonts/Trade_Gothic/tradegothic-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Trade Gothic';
    src: url('../fonts/Trade_Gothic/tradegothic.html') format('woff2'),
         url('../fonts/Trade_Gothic/tradegothic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Trade Gothic';
    src: url('../fonts/Trade_Gothic/tradegothic-bold.html') format('woff2'),
         url('../fonts/Trade_Gothic/tradegothic-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* ITC Avant Grand Pro */

@font-face {
    font-family: 'Avant Grade';
    src: url('../fonts/Avant_Grade/AvantGarde-Light.html') format('woff2'),
        url('../fonts/Avant_Grade/AvantGarde-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Avant Grade';
    src: url('../fonts/Avant_Grade/AvantGarde-Book.woff') format('woff2'),
        url('../fonts/Avant_Grade/AvantGarde-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Avant Grade';
    src: url('../fonts/Avant_Grade/AvantGarde-Bold.html') format('woff2'),
        url('../fonts/Avant_Grade/AvantGarde-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}